## Weapons
nomedkit
weapon_crowbar
weapon_9mmAR
weapon_glock
weapon_357
weapon_shotgun
ammo_9mm 7
ammo_357 2

map_script survival_generic

//Move:Can't turn direction when you in air.Can't climb wall.Walking slow
mp_disable_autoclimb 1
sv_airaccelerate 1


## Fire modes
weaponmode_shotgun 1
globalmodellist ../../maps/hotline.gmr